---
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Carousel1 from "@components/Carousel.astro";
---

<Layout title="BagCycle">
  <header>
    <img src="/assets/bc_logo.png" alt="BagCycle logo image" height="200" />
    <h4>2 in 1 Eco-friendly product</h4>
    <h4>INPI registered</h4>
  </header>
  <main>
    <h1>Bicycle Bag</h1>
    <h1>Backpack</h1>
    <img
      src="/assets/red_bag_transparent.png"
      alt="BagCycle image"
      height="600"
    />
    <div class="textBlock">
      <h4>presented in France by</h4>
      <h3>L'atelier Français du Surcyclage</h3>
    </div>

    <div class="textBlock">
      <div class="sideImage">
        <img src="/assets/bag1.jpg" alt="BagCycle image" width="200" />
        <img src="/assets/bag2.jpg" alt="BagCycle image" width="200" />
      </div>
      <div class="sideImage">
        <img src="/assets/bag3.jpg" alt="BagCycle image" width="200" />
        <img src="/assets/bag4.jpg" alt="BagCycle image" width="200" />
      </div>
    </div>
    <Carousel1 />
    <div class="textBlock">
      <h2>Features</h2>
      <ul class="qualities">
        <li>Eco-Friendly Rpet Material, made from recycled plastic bottles</li>
        <li>Reflective strips for your safety, compliant with the standard</li>
        <li>An interior zippered pocket for the non-insulated model</li>
        <li>
          Bonus product: 1 bicycle-shaped keychain made of aluminum with the
          brand name
        </li>
        <li>The medium size can hold up to 3 1L bottles</li>
        <li>
          The insulated version (5mm thick) keeps drinks/meals cool for several
          hours
        </li>
      </ul>
    </div>
    <img src="/assets/bagwithmodel.png" alt="BagCycle image" width="600" />
    <div class="textBlock">
      <h2>Sizes</h2>
      <div class="sideBySide">
        <div>
          <p class="size sizeName">MEDIUM</p>
          <p class="size">12-13L</p>
          <p>22x12x44.5cm</p>
          <p>PVP : 37.95€ TTC</p>
        </div>
        <div>
          <p class="size sizeName">LARGE</p>
          <p class="size">18L-19L</p>
          <p>28x16x53.5cm</p>
          <p>PVP : 39.95€ TTC</p>
        </div>
      </div>
      <h2>Colours</h2>
      <p>COLOURS IN STOCK: Grey / Blue / Beige or Black</p>
      <p>
        COLOURS FOR SPECIAL ORDER : Grey / Beige/ Blue / Red / Purple / Orange /
        Green
      </p>
    </div>
    <img src="/assets/color_bags.jpg" alt="BagCycle image" width="600" />
    <div class="textBlock">
      <h2>Obtained Award</h2>
      <p>
        The best promotional product of the year 2024 at the CTCO trade show -
        Lyon
      </p>
    </div>

    <img src="/assets/salon1.jpg" alt="BagCycle image" width="600" />
    <img src="/assets/award.jpg" alt="BagCycle image" width="600" />
  </main>
  <footer>
    <h2>Contact</h2>
    <p>Email: <a href="mailto:fab@netvigator.com">fab@netvigator.com</a></p>
    <p>Telephone: <a href="tel:+33659704487">+33 6 59 70 44 87</a></p>
    <div class="float">
      <p><a href="/">Français</a></p>
    </div>
  </footer>
</Layout>
