---
import { Image } from "astro:assets";

import Layout from "../../layouts/Layout.astro";
---

<Layout title="BagCycle">
  <header>
    <img src="/assets/bc_logo.png" alt="BagCycle logo image" height="200" />
  </header>
  <main>
    <h1>Bike bag,</h1>
    <h1>Backpack.</h1>
    <img
      src="/assets/red_bag_transparent.png"
      alt="BagCycle image"
      height="600"
    />
    <div class="textBlock">
      <p>presented by</p>
      <h3>L'atelier Francais du Surcyclage</h3>
    </div>
    <div class="textBlock">
      <div class="sideImage">
        <img src="/assets/bag1.jpg" alt="BagCycle image" width="200" />
        <img src="/assets/bag2.jpg" alt="BagCycle image" width="200" />
      </div>
      <div class="sideImage">
        <img src="/assets/bag3.jpg" alt="BagCycle image" width="200" />
        <img src="/assets/bag4.jpg" alt="BagCycle image" width="200" />
      </div>
    </div>
    <div class="textBlock">
      <h2>Features</h2>
      <p>Keep drinks cold (5-6 hours)</p>
      <p>Outer polyester material made from recycled plastic bottles</p>
      <p>Safety reflective straps following European standard EN 17353</p>
    </div>
    <img src="/assets/bagwithmodel.png" alt="BagCycle image" width="600" />
    <div class="textBlock">
      <h2>Sizes and Colours</h2>
      <div class="sideBySide">
        <div>
          <p>Medium</p>
          <p>22x12x44.5cm</p>
          <p>36,95€</p>
        </div>
        <div>
          <p>Large</p>
          <p>28x16x53.5cm</p>
          <p>39,95€</p>
        </div>
      </div>
      <p>in grey, beige, blue, red, purple, orange and green</p>
    </div>
    <img src="/assets/color_bags.jpg" alt="BagCycle image" width="600" />
    <div class="textBlock">
      <h2>Awards</h2>
      <p>Best Promotional Product of the Year 2024 at the CTCO trade show</p>
    </div>
    <img src="/assets/salon1.jpg" alt="BagCycle image" width="600" />
    <img src="/assets/award.jpg" alt="BagCycle image" width="600" />
  </main>
</Layout>
