---
import Layout from "@layouts/Layout.astro";
import Carousel1 from "@components/Carousel.astro";
---

<Layout pageTitle="BagCycle | Sacoche Vélo et Sac à Dos Eco-Responsable">
  <header>
    <a
      id="banner"
      href="https://mom.maison-objet.com/fr/marque/21299/bagcycle"
      target="_blank"
    >
      <img src="/assets/mom_logo.svg" alt="MOM logo" />
      <div>
        <h4>« Bagcycle » en vente sur la Market Place de Maison & Objet/MOM</h4>
        <h4>(Cliquez ici pour y accéder)</h4>
        <h4>Une Super Promo jusqu’au 31 Aout. Ne la ratez surtout pas !</h4>
      </div>
    </a>
  </header>
  <main>
    <div id="logo">
      <img
        src="/assets/bc_logo.png"
        alt="BagCycle logo image"
        height="200"
        width="565"
      />
      <h4>Produit Eco-Responsable 2 en 1</h4>
      <h4>Déposé INPI</h4>
    </div>
    <h1>Sacoche Vélo</h1>
    <h1>Sac à Dos</h1>
    <img
      src="/assets/red_bag_transparent.png"
      alt="BagCycle image"
      height="600"
      width="450"
    />
    <div class="textBlock">
      <h4>présenté en France par</h4>
      <h3>L'atelier Français du Surcyclage</h3>
    </div>

    <div class="textBlock">
      <div class="sideImage">
        <img
          src="/assets/bag1.webp"
          alt="BagCycle image"
          width="200"
          height="266"
        />
        <img
          src="/assets/bag2.webp"
          alt="BagCycle image"
          width="200"
          height="266"
        />
      </div>
      <div class="sideImage">
        <img
          src="/assets/bag3.webp"
          alt="BagCycle image"
          width="200"
          height="266"
        />
        <img
          src="/assets/bag4.webp"
          alt="BagCycle image"
          width="200"
          height="266"
        />
      </div>
    </div>
    <Carousel1 />
    <div class="textBlock">
      <h2>Qualités</h2>
      <ul class="qualities">
        <li>
          Matière Eco-Responsable Rpet, à base de bouteilles plastique recyclées
        </li>
        <li>
          Bandes réfléchissantes pour votre sécurité, conformes à la norme
        </li>
        <li>Une poche intérieure zippée pour le modèle sans Isotherme</li>
        <li>
          Le plus produit : 1 porte-clés forme Vélo en aluminium au nom de la
          marque
        </li>
        <li>Le moyen modèle peut contenir 3 bouteille de 1L</li>
        <li>
          La version Isotherme (5mm épaisseur) permet de garder les
          boissons/repas au frais pendant plusieurs heures
        </li>
      </ul>
    </div>
    <img
      src="/assets/bagwithmodel.png"
      alt="BagCycle image"
      width="600"
      height="670"
    />
    <div class="textBlock">
      <h2>Tailles</h2>
      <div class="sideBySide">
        <div>
          <p class="size sizeName">MOYEN</p>
          <p class="size">12-13L</p>
          <p>22x12x44.5cm</p>
          <p class="size">Prix de Vente Recommandé : 37.95€ TTC</p>
          <p>Frais de Port non compris</p>
        </div>
        <div>
          <p class="size sizeName">GRAND</p>
          <p class="size">18L-19L</p>
          <p>28x16x53.5cm</p>
          <p class="size">Prix de Vente Recommandé : 39.95€ TTC</p>
          <p>Frais de Port non compris</p>
        </div>
      </div>
      <h2>Couleurs</h2>
      <p>COLORIS SUR STOCK : Gris / Bleu / Noir</p>
      <p>
        COLORIS FABRICATION SPECIALE : Gris / Beige/ Bleu / Rouge / Violet /
        Orange / Vert
      </p>
    </div>
    <img
      src="/assets/color_bags.webp"
      alt="BagCycle image"
      width="600"
      height="354"
    />
    <div class="textBlock">
      <h2>Prix Obtenu</h2>
      <p>
        Le meilleur produit promotionnel de l'année 2024 au salon CTCO - Lyon
      </p>
      <img
        src="/assets/salon1.webp"
        alt="BagCycle image"
        width="600"
        height="450"
      />
      <img
        src="/assets/award.webp"
        alt="BagCycle image"
        width="600"
        height="410"
      />
    </div>

    <div class="textBlock">
      <h2>Sponsoring / Partenariat</h2>
      <p>
        « Bagcycle » parrain d’Alex & Paul, 2 étudiants qui réalisent une «
        Traversée Ecologique de la France à Vélo » - Départ Zuydcoote avec
        chacun son « Bagcycle Option Isotherme Moyen Modèle « pour une Arrivée à
        Toulouse.
      </p>
      <img
        src="/assets/etudiants_1.jpg"
        alt="BagCycle image"
        width="600"
        height="450"
      />
      <img
        src="/assets/etudiants_2.jpg"
        alt="BagCycle image"
        width="600"
        height="410"
      />
    </div>

    <div class="textBlock">
      <h2>Vos Photos</h2>
      <div class="sideImage">
        <img src="/assets/vp_1" alt="BagCycle image" width="200" height="266" />
        <img
          src="/assets/bag2.webp"
          alt="BagCycle image"
          width="200"
          height="266"
        />
      </div>
      <div class="sideImage">
        <img
          src="/assets/bag3.webp"
          alt="BagCycle image"
          width="200"
          height="266"
        />
        <img
          src="/assets/bag4.webp"
          alt="BagCycle image"
          width="200"
          height="266"
        />
      </div>
      <img
        src="/assets/vp_1.jpg"
        alt="BagCycle image"
        width="600"
        height="410"
      />
      <img
        src="/assets/vp_2.jpg"
        alt="BagCycle image"
        width="600"
        height="410"
      />
      <img
        src="/assets/vp_3.jpg"
        alt="BagCycle image"
        width="600"
        height="410"
      />
      <img
        src="/assets/vp_4.jpg"
        alt="BagCycle image"
        width="600"
        height="410"
      />
    </div>

    <div class="textBlock">
      <h2>Contact</h2>
      <p>
        E-mail: <a href="mailto:valerie.bagcycle@gmail.com"
          >valerie.bagcycle@gmail.com</a
        >
      </p>

      <p>E-mail: <a href="mailto:fab@netvigator.com">fab@netvigator.com</a></p>
      <p>Téléphone: <a href="tel:+33659704487">+33 6 59 70 44 87</a></p>
      <div class="social_icon_container">
        <a href="https://www.tiktok.com/@bagcycle" target="_blank">
          <img
            class="social_icon"
            src="/assets/tiktok.svg"
            alt="tiktok icon"
            width="5"
            height="5"
          />
        </a>
        <a
          href="https://www.facebook.com/profile.php?id=61556625431861"
          target="_blank"
        >
          <img
            class="social_icon"
            src="/assets/facebook.svg"
            alt="facebook icon"
            width="5"
            height="5"
          />
        </a>
        <a href="https://www.linkedin.com/in/097464315/" target="_blank">
          <img
            class="social_icon"
            src="/assets/linkedin.svg"
            alt="linkedin icon"
            width="5"
            height="5"
          />
        </a>
        <a href="https://www.youtube.com/@BAGCYCLE-g9s" target="_blank">
          <img
            class="social_icon"
            src="/assets/youtube.svg"
            alt="linkedin icon"
            width="5"
            height="5"
          />
        </a>
      </div>
      <div class="languageWindow">
        <p><a href="./en/">English</a></p>
      </div>
    </div>
  </main>
</Layout>
