---
import { Image } from "astro:assets";

import Layout from "../layouts/Layout.astro";
import Carousel1 from "@components/Carousel1.astro";
---

<Layout title="BagCycle">
  <header>
    <img src="/assets/bc_logo.png" alt="BagCycle logo image" height="200" />
    <h4>Produit Eco-Responsable 2 en 1</h4>
    <h4>Déposé INPI</h4>
  </header>
  <main>
    <h1>Sacoche Vélo</h1>
    <h1>Sac à Dos</h1>
    <img
      src="/assets/red_bag_transparent.png"
      alt="BagCycle image"
      height="600"
    />
    <div class="textBlock">
      <h4>présenté en France par</h4>
      <h3>L'atelier Français du Surcyclage</h3>
    </div>

    <div class="textBlock">
      <div class="sideImage">
        <img src="/assets/bag1.jpg" alt="BagCycle image" width="200" />
        <img src="/assets/bag2.jpg" alt="BagCycle image" width="200" />
      </div>
      <div class="sideImage">
        <img src="/assets/bag3.jpg" alt="BagCycle image" width="200" />
        <img src="/assets/bag4.jpg" alt="BagCycle image" width="200" />
      </div>
    </div>
    <Carousel1 />
    <div class="textBlock">
      <h2>Qualités</h2>
      <p>
        Matière Eco-Responsable Rpet, à base de bouteilles plastique recyclées
      </p>
      <p>Bandes réfléchissantes pour votre sécurité, conformes à la norme</p>
      <p>Une poche intérieure zippée pour le modèle sans Isotherme</p>
      <p>
        Le plus produit : 1 porte-clés forme Vélo en aluminium au nom de la
        marque
      </p>
      <p>Le moyen modèle peut contenir 3 bouteille de 1L</p>
      <p>
        La version Isotherme (5mm épaisseur) permet de garder les boissons/repas
        au frais pendant plusieurs heures
      </p>
    </div>
    <img src="/assets/bagwithmodel.png" alt="BagCycle image" width="600" />
    <div class="textBlock">
      <h2>Tailles et Couleurs</h2>
      <div class="sideBySide">
        <div>
          <p>MOYEN</p>
          <p>12-13L</p>
          <p>22x12x44.5cm</p>
          <p>a make less space between moyen and 12-13L and 22x12x..</p>
          <p>PVP : 37.95€ TTC</p>
        </div>
        <div>
          <p>GRAND</p>
          <p>18L-19L</p>
          <p>28x16x53.5cm</p>
          <p>a</p>
          <p>PVP : 39.95€ TTC</p>
        </div>
      </div>
      <p>COLORIS SUR STOCK : Gris / Bleu / Beige ou Noir</p>
      <p>
        COLORIS FABRICATION SPECIALE : Gris / Beige/ Bleu / Rouge / Violet /
        Orange / Vert
      </p>
    </div>
    <img src="/assets/color_bags.jpg" alt="BagCycle image" width="600" />
    <div class="textBlock">
      <h2>Prix Obtenu</h2>
      <p>
        Le meilleur produit promotionnel de l'année 2024 au salon CTCO - Lyon
      </p>
    </div>
    <!-- <Carousel2 /> -->

    <img src="/assets/salon1.jpg" alt="BagCycle image" width="600" />
    <img src="/assets/award.jpg" alt="BagCycle image" width="600" />
  </main>
  <footer>
    <h2>Contact</h2>
    <p>E-mail: <a href="mailto:fab@netvigator.com">fab@netvigator.com</a></p>
    <p>Téléphone: <a href="tel:+33659704487">+33 6 59 70 44 87</a></p>
  </footer>
</Layout>
