---

---

<div class="imageHold">
  <img src="./assets/red_bag_transparent.png" alt="image" height="600" />
</div>

<style>
  .imageHold {
    max-height: 10rem;
  }
  .imageHold img {
    width: 100%;
  }
</style>
