---
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta
      name="description"
      content="Sacoche Vélo et Sac à Dos Eco-Responsable 2 en 1 présenté en France par
    L'atelier Français du Surcyclage"
    />
    <meta
      name="keywords"
      content="BagCycle, Sacoche Vélo, Sac à Dos, Eco-Responsable, Surcyclage"
    />
    <meta name="author" content="Antoine Dujardin" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
