---
import "../styles/global.css";

const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta
      name="description"
      content="Bicycle Bag and Backpack 2 in 1 Eco-friendly product presented in France by L'atelier Français du Surcyclage"
    />
    <meta
      name="keywords"
      content="BagCycle, Bicycle Bag, Backpack, Eco-friendly, Surcyclage"
    />
    <meta name="author" content="Antoine Dujardin" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Prata&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
  </body>
</html>
